<div id="main-container">
  <div id="video-player"></div>
  <div id="video-menu">
    <div class="button" id="full-screen">[]</div>
    <div class="button" id="heart">&lt;3</div>
  </div>
  <div id="video-notifications"></div>
</div>