<div id="main-container">
  <div id="video-player"></div>
  <div id="video-menu">
    <div class="button icon-resize-full" id="full-screen"></div>
    <div class="button icon-heart" id="heart"></div>
  </div>
  <div id="video-notifications"></div>
</div>