<div id="video-player">
  <img id="test-pattern" src="//s3.amazonaws.com/monotone/images/test-pattern.png">
</div>
<div id="video-notifications"></div>
<footer>
  <div id="currently" class="left"><span>Currently Playing: </span><span id="song-artist-title"></span></div>
  <div class="icon-button icon-heart left" id="heart"></div>
  <div class="icon-button icon-twitter-squared right"></div>
  <div class="icon-button icon-facebook-squared right"></div>
</footer>