<div id="video-player"></div>
<div id="video-notifications"></div>
<footer>
  <div id="currently" class="left"><span>Currently Playing: </span><span id="song-artist-title"></span></div>
  <div class="button icon-heart left" id="heart"></div>
  <div class="button icon-twitter-squared right"></div>
  <div class="button icon-facebook-squared right"></div>
</footer>