<h1>Your Loved Videos</h1>

<ul>
  <% @hearted_videos.each do |video| %>
  <li><%= video.artist %> - <%= video.title %> - <div class="icon-button icon-heart left active" id="heart" style="visibility: visible;"></div></li>
  <% end %>
</ul>