$bg-color: #ecf0f1;
$header-color: #ecf0f1;
$video-width: 1280px;
$video-height: 720px;
$header-height: 72px;
$icon-color: #bdc3c7;
body {
  margin: 0;
  background: $bg-color;
}
header {
  width: $video-width;
  margin: 0 auto;
  height: $header-height;
  background: $header-color;
}
#logo {
  float: left;
  font-size: 72px;
  line-height: $header-height;
  margin-left: 15px;
  color: #444;
  cursor: pointer;
  letter-spacing: -5px;
  text-shadow: 1px 1px 0 #000;
}
#full-screen {
  height: $header-height;
  width: $header-height;
  font-size: 44px;
  color: $icon-color;
  float: right;
  line-height: $header-height;
  text-align: center;
  cursor: pointer;
}
#full-screen:hover {
  color: #2980b9;
}
#main-container {
  width: $video-width;
  height: $video-height + $header-height;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 8px 16px #444;
}
#video-player {
  width: $video-width;
  height: $video-height;
  overflow: hidden;
  background: #0a0a0a;
}
#video-menu {
  position: absolute;
  top: 0;
  background: $header-color;
  box-shadow: 4px 4px 8px #888;
}
.button {
  padding: 0;
  display: block;
  float: left;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #bdc3c7;
}
.icon-heart:hover, .icon-heart.active {
  color: #c0392b;
}
#full-screen:hover {
  color: #2980b9;
}
ul.user-menu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
  float: right;
}
ul.user-menu li {
  display: inline;  
}