$bg-color: #ecf0f1;
$header-color: #fff;
$video-width: 1280px;
$video-height: 720px;
$header-height: 72px;
$icon-color: #bdc3c7;
$footer-height: 44px;
$logo-color: #e2721c;
body {
  margin: 0;
  background-color: $bg-color;
}
header {
  width: $video-width;
  margin: 0 auto;
  height: $header-height;
  background: $header-color;
}
#logo {
  float: left;
  font-size: 72px;
  line-height: $header-height;
  margin-left: 15px;
  cursor: pointer;
  letter-spacing: -5px;
  // text-shadow: 1px 1px 0 #000;
  a {
    color: $logo-color;
    text-decoration: none;
    &:visited {
      color: $logo-color;
    }
    &:hover {
      color: $logo-color;
      background-color: transparent;
    }
  }
}
#full-screen {
  height: $header-height;
  width: $header-height;
  font-size: 36px;
  color: $icon-color;
  float: right;
  line-height: $header-height;
  text-align: center;
  cursor: pointer;
}
#full-screen:hover {
  color: darken($icon-color, 5%);
}

ul.user-menu {
  list-style: none;	
  margin: 0 72px 0 0;
  padding: 0;
  float: right;
  height: $header-height;
}
ul.user-menu li {
  display: inline;
}
ul.user-menu li a {
  display: inline-block;
  line-height: 36px;
  margin: 18px 0 18px 18px;
  padding: 0 18px;
  font-size: 12px;
}
.button {
  display: inline-block;
  background: $logo-color;
  padding: 0 18px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  margin: 18px;
  font-weight: bold;
}
.button:hover {
  background: lighten($logo-color, 5%);
}
#main-container {
  width: $video-width;
  height: $video-height + $header-height + $footer-height;
  margin: 0 auto 44px;
  position: relative;
  box-shadow: 0px 8px 16px #444;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#video-player {
  width: $video-width;
  height: $video-height;
  overflow: hidden;
  background: #0a0a0a;
}
#test-pattern {
  width: $video-width;
  height: $video-height;
  cursor: pointer;
}
#video-menu {
  position: absolute;
  top: 0;
  background: $header-color;
  box-shadow: 4px 4px 8px #888;
}
.icon-button {
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: $icon-color;
  height: $footer-height;
  width: $footer-height;
  line-height: $footer-height;
}
.left {
  float: left
}
.right {
  float: right;
}
.icon-heart, #currently {
  visibility: hidden;
}
.icon-heart:hover, .icon-heart.active {
  color: #c0392b;
}
.icon-youtube:hover {
  color: #CD332D;
}
.icon-twitter-squared:hover {
  color: #4099FF;
}
.icon-facebook-squared:hover {
  color: #3B5998;
}
footer {
  height: $footer-height;
  width: $video-width - 30px;
  background: $header-color;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 15px;
}
#currently {
  float: left;
  font-size: 18px;
  line-height: $footer-height;
  color: #444;
}
#song-artist-title {
  font-weight: bold;
}
.sign-in-wrapper {
  margin: 20px auto;
}